/* Importation des autre fichiers/dependance css */
@import url('../fonts/fonts.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 16px;
    /*1em*/
    font-family: sans-serif;
}

ul {
    list-style: none;
    
}
a{
    text-decoration: none;
    color : inherit
}

.header {
    position:relative;
    width: 100%;
    height: 120px;
    left: 0px;
    top: 0px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    flex-direction: row;
    padding: 48px ;
}

.header .logo {
    width: 100px;
    height: 100%;
    display: block;
    position: relative;
    background-color: #fff;
}

.header .search {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-end ;
    height: fit-content;
    margin-right: 16px;
}

.header .search label {
    text-transform: uppercase;
    margin-right: 16px;
    font-family: BebasNeueRegular, sans-serif;
    font-size : 24px
}

.header .search input[type='text']{
    background-color: transparent;
    border: none;
    border-bottom : 1px solid #fff;
    padding : 8px;
    color: #fff;
    font-size : 16px;
    width: 270px;
}

.header .search {

}

.header .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header .menu li {
    margin:0 16px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header .menu li i {
    width: 10px;
    height: 10px;
    background-color: #fff;
    display: block;
    position: absolute;
    margin-bottom:8px ;
 }

.header .menu li i svg {}

.header .menu li a {}

.sub_menu {
    color : #000;
    flex-direction: column;
    display: flex;
     width: 200px;
     height: fit-content;
     position: fixed;
     top : calc( 120px + 25px );
     left: 0;
     font-family: BebasNeueRegular ;
}

ul.menu_group {}

ul.menu_group li.first {
    font-size : 40px !important;
    display: flex;
}

ul.menu_group.actived li {
    font-size : 24px;
    display: flex;
}

ul.menu_group li {
    font-size : 24px;
    display: none;
}

ul.menu_group li.first:hover{
    cursor: pointer;
}

ul.menu_group:hover li {
    display: flex;
}

.motema{
    position: absolute;
width: 958px;
height: 360px;
left: 410px;
top: 183px;
}
.bateau{
    position: absolute;
width: 303px;
height: 622px;
left: 409px;
top: 612px;
}
.enfant{
    position: absolute;
    width: 303px;
    height: 605px;
    left: 695px;
    top: 612px;    
margin-left: 250px;
}
.homme{
    position: absolute;
width: 200px;
height: 150px;
left: 309.86px;
top: 600px;
margin-left: 1100px;

}
.voir{
    color: #000000;
    border-block-end: aqua;
}





.content {}

.header_pub {}

.adventage {}

.home_produit {}

.promo {}
button{
    background: #000;
    color: #fff;
}
#consulter{
    margin-bottom: 300px;
}
}
.paragraphe{
    margin-top: 252px;
    right: 120px;
}
}
.bateau{
    
        position: relative;
    width: 958px;
    height: 360px;
    left: 410px;
    top: 999px;
}

.enfant{
    position: absolute;
width: 303px;
height: 622px;
left: 409px;
top: 183px;
}
motema{
    position: absolute;
width: 958px;
height: 360px;
left: 410px;
top: 183px;
